    <div class="container">
      <div class="row">
        <div class="home_image callout">
          <%= image_tag("mungion_after_show.jpg", class:'img-responsive center-block', :alt => "Mungion") %>
        </div>
          <div class="text-center">
            <button class="btn btn-default">
              <h1 style="#8C8C8C">Mungion.</h1>
            </button>
          </div>
      </div>
    </div>