<div class="container">
    <div class="container">
      <div class="home_image callout">
        <%= image_tag("mungion_after_show.jpg", class:'img-responsive center-block', :alt => "Mungion") %>
      </div>
    </div>
  <h1>This is the home page.</h1>
</div>